* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    padding: 15px 20px;
    background: #ff6b35;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

/* Main Layout */
.container {
    display: flex;
    height: calc(100vh - 140px);
}

/* Left Side */
.restaurant-list {
    width: 35%;
    overflow-y: auto;
    padding: 15px;
    background: #f9f9f9;
}
/*Right Side */
#map {
    width: 65%;
    height: 100vh;
}
.controls {
  display: flex;
  gap: 10px;
  padding: 10px;
}
html, body {
    height: 100%;
}

.restaurant-list h2 {
  margin-bottom: 10px;
}

.restaurant-card {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s;
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.restaurant-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.restaurant-distance {
  font-size: 13px;
  color: #666;
}
